.CardContainer {
    background-color: #4f3b78;
    position: relative;
    display: flex;
    width: 13rem;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: solid #927fbf;
    padding: 20px;
    margin: 10px;
    transition: transform 0.25s ease-out, box-shadow 0.3s ease-out, opacity 0.3s ease-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    opacity: 0.8;
    color: #f4e022;
  }
  
  .CardContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .CardContainer img {
    width: 100%;
    border-radius: 10px;
  }

.CardContainer h4{
  font-weight: 200;
}